{% extends "main.j2" %}
{% block content %}

<h1>Checkouts</h1>

<h2>Log New Checkout</h2>
<form action="/add_checkout" method="POST">
  Patron:
  <select name="patronID">
    {% for patron in patrons %}
      <option value="{{ patron.patronID }}">
        {{ patron.firstName }} {{ patron.lastName }}
      </option>
    {% endfor %}
  </select><br>

  Staff:
  <select name="staffID">
    {% for staff in staffMembers %}
      <option value="{{ staff.staffID }}">
        {{ staff.firstName }} {{ staff.lastName }}
      </option>
    {% endfor %}
  </select><br>

  Date:
  <input type="date" name="checkoutDate"><br>

  <input type="submit" value="Create Checkout">
</form>

<table border="1">
<tr>
    <th>ID</th>
    <th>Checkout Date</th>
    <th>Due Date</th>
    <th>Return Date</th>
    <th>Patron</th>
    <th>Staff</th>
</tr>

{% for c in checkouts %}
<tr>
    <td>{{ c.checkoutID }}</td>
    <td>{{ c.checkoutDate }}</td>
    <td>{{ c.dueDate }}</td>
    <td>{{ c.returnDate }}</td>
    <td>{{ c.patronFirstName }}</td>
    <td>{{ c.staffFirstName }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
