<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 Board Game Library</title>
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <a href="/gamegenres">Game Genres</a> |
    <a href="/boardgames">Board Games</a> |
    <a href="/patrons">Patrons</a> |
    <a href="/staff">Staff</a> |
    <a href="/checkouts">Checkouts</a> |
    <a href="/checkoutitems">Checkout Items</a>
</nav>
<hr>
{% block content %}{% endblock %}
</body>
</html>
