{% extends "main.j2" %}
{% block content %}
<h1>Staff</h1>
<table border="1">
<tr><th>ID</th><th>Name</th></tr>
{% for s in staff %}
<tr>
<td>{{ s.staffID }}</td>
<td>{{ s.firstName }} {{ s.lastName }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
