{% extends "main.j2" %}
{% block content %}

<h1>Staff</h1>

<table border="1">
<tr>
  <th>ID</th>
  <th>First Name</th>
  <th>Last Name</th>
</tr>

{% for m in staff %}
<tr>
  <td>{{ m.staffID }}</td>
  <td>{{ m.firstName }}</td>
  <td>{{ m.lastName }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}